<!DOCTYPE html>
<html lang="pt-br">

<head>
</head>

<body>
    <h1>Usuário</h1>
    <form name="usuario" method="POST" action="/addUser">

        <label for="id_usuario">ID :</label>
        <input readonly value="" type="text" name="id_usuario" id="id_usuario">
        <label for="nome">Nome:</label>
        <input value="" type="text" name="nome" id="nome" autofocus="">
        <label for="login">Login:</label>
        <input value="" type="text" name="login" id="login">
        <label for="senha">Senha:</label>
        <input value="" type="password" name="senha" id="senha">
        <label for="grupo">Grupo:</label>
        <input value="" type="text" name="grupo" id="grupo">

        <button type='submit' name="salvaNovoClienteBD" id="salvaNovoClienteBD">Salvar Novo Cliente</button>
    </form>

    <br>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Login</th>
                <th>Senha</th>
                <th>Grupo</th>
            </tr>
        </thead>
        <tbody>
            {% if result %}
            {% for row in result %}
            <tr>
                <th> {{ row[0] }}</th>
                <td> {{ row[1] }}</td>
                <td> {{ row[2] }}</td>
                <td> {{ row[3] }}</td>
                <td> {{ row[4] }}</td>
                <td>
                    <form action='/formEditUsuario' method='POST' name='formEditUsuario'>
                        <input type='hidden' name='id_usuario' value='{{ row[0] }}'>
                        <button type='submit' name='formEditUsuario'>Editar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>

</body>

</html>