<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>BD - AbcBolinhas</title>
</head>

<body>
    <h1>Usuário</h1>
    <form name="usuario" method="POST" action="/editUser">

        <label for="id_usuario">ID :</label>
        <input readonly value="{{ user.id_usuario }}" type="text" name="id_usuario" id="id_usuario">
        <label for="nome">Nome:</label>
        <input value="{{ user.nome }}" type="text" name="nome" id="nome" autofocus="">
        <label for="login">Login:</label>
        <input value="{{ user.login }}" type="text" name="login" id="login">
        <label for="senha">Senha:</label>
        <input value="{{ user.senha }}" type="password" name="senha" id="senha">
        <label for="grupo">Grupo:</label>
        <input value="{{ user.grupo }}" type="text" name="grupo" id="grupo">

        <br><br>

        <button type='submit' name='salvaEditaClienteDB' id='salvaEditaClienteDB'>Salvar</button>
        <button type='submit' name='excluiClienteDB' id='excluiClienteDB'>Excluir</button>
    </form>

</body>

</html>